@import '@/scss/theme';

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;

  .menu-list {
    margin: 0 1.5rem;

    svg {
      transform: scale(1.2);
    }

    &:hover {
      cursor: pointer;

      svg {
        stroke: white;
        transition: all 0.2s;
      }
    }
  }
}

.main-wrapper {
  position: relative;

  .input-bar {
    position: absolute;
    box-sizing: border-box;
    top: -2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr auto;
    @include content-box;
    padding: 1.4rem 1rem;

    li {
      @include body-regular;
      color: $label;
      padding: 0 2rem;

      label {
        display: block;
        @include bold-small;
        font-weight: 700;
        color: $primary3;
      }

      input {
        @include body-regular;
        display: inline-block;
        border: 0;
        width: 100%;

        &.input-date {
          text-align: center;
          width: 2rem;

          &[name="date-year"] {
            width: 4rem;
          }
        }
      }

      #data-input {
        display: flex;
        align-items: center;
        color: black;

        svg {
          margin-right: 1rem;
        }
      }

      &+li {
        border-left: 1px solid $placeholder;
        height: 100%;
      }
    }
  }

  .main {
    padding-top: 10rem;
  }
}

#main-input-submit {
  background-color: white;
  border: 0.2rem solid $primary1;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  margin: 0 1rem 0 2rem;
  cursor: pointer;
  transition-duration: 0.2s;

  svg {
    stroke: $primary1;
    margin: auto;
  }

  &[active] {
    background-color: $primary1;

    svg {
      stroke: white;
      margin: auto;
    }
  }
}