body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

/* 전역 클래스 관련 설정 (padding/margin/font/display 등..) */
.container {
  max-width: 1080px;
  margin: auto;
  background-color: #fff;
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}

.font-bold {
  font-weight: bold;
}

.divider {
  height: 1px;
  border-bottom: 1px solid #ededed;
  padding: 1rem 0;
}

/* 헤더관련 CSS 속성 설정 */
header {
  z-index: 1000;
  top: 0px;
  position: sticky;
  background-color: #fff;
}

.navbar {
  color: #adadad;
  border-bottom: 1px solid #cdcdcd;
}

.navbar-list-wrapper {
  padding: 1rem 0;
  display: flex;
  gap: 10px;
  font-size: 0.75rem;
}
.navbar-list-wrapper li {
  cursor: pointer;
}
.navbar-list-wrapper li.selected {
  color: #111;
}
.navbar-list-wrapper li + li {
  border-left: 1px solid #cdcdcd;
  padding-left: 10px;
}
.navbar-list-wrapper li:hover {
  opacity: 0.65;
}

#main-navbar {
  padding: 1.5rem 0;
}

/* 본문 관련 CSS 속성 설정 */
main {
  flex: 1;
}

.section-wrapper {
  padding: 0 4rem;
}

main .title-area {
  padding-top: 2.5rem;
}

main .title {
  font-size: 1.5rem;
  font-weight: bold;
}

main .subtitle {
  margin-top: 0.6rem;
  font-size: 1.05rem;
  color: #888;
}

main .more-btn {
  cursor: pointer;
}
main .more-btn:hover {
  text-decoration: underline;
}

.menu-list-wrapper {
  margin: 1rem 0;
  gap: 15px;
}
.menu-list-wrapper + .menu-list-wrapper {
  padding-top: 1rem;
}

.menu-list {
  width: 16.6666666667%;
  cursor: pointer;
}
.image-wrapper {
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.image-wrapper img {
  cursor: pointer;
  transition: all 0.23s ease-in-out;
}
.image-wrapper img:hover {
  transition: all 0.23s ease-in-out;
  transform: scale(1.05);
}
.menu-list .image-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.menu-list .image-wrapper.discount-tag::before {
  color: #fff;
  font-weight: bold;
  content: attr(data-discount);
  background-color: red;
  padding: 2px 6px;
  position: absolute;
  z-index: 999;
}
.menu-list img.menu-image {
  transition: all 0.23s ease-in-out;
}
.menu-list:hover img.menu-image {
  transition: all 0.23s ease-in-out;
  transform: scale(1.05);
}
.menu-list p + p {
  margin-top: 0.25rem;
}
.menu-list .menu-title {
  padding-bottom: 0.25rem;
}
.menu-list .menu-ea {
  font-size: 0.75rem;
  color: #888;
}
.menu-list .menu-price {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.recommendation-area .title-area {
  flex: 1 1 0%;
}
.recommendation-area .image-wrapper {
  margin-top: 2.5rem;
  border-radius: 1rem;
}

.first-benefit-area {
  margin-top: 1.5rem;
}
.first-benefit-area .image-wrapper {
  border-radius: 1rem;
}

/* Footer 관련 CSS 속성 설정 */
footer {
  background-color: #fff;
}

#bottom-navbar {
  border-top: 1px solid #cdcdcd;
  color: #111;
}

#footer-info {
  color: #adadad;
  padding: 2rem 0;
  font-size: 0.75rem;
}

#footer-info p + p {
  margin-top: 0.5rem;
}

#footer-info h6 {
  color: #111;
  margin-bottom: 0.5rem;
}

#footer-info a {
  display: block;
  color: #111;
  margin-top: 0.5rem;
}

#footer-info #tel-number {
  font-size: 1.2rem;
  color: #111;
}
