body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 전역 클래스 관련 설정 (padding/margin/font/display 등..) */
.container {
  margin: 0 4rem;
}

.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}

.font-bold {
  font-weight: bold;
}

/* 헤더관련 CSS 속성 설정 */
header {
  z-index: 1000;
  top: 0px;
  position: sticky;
  background-color: #fff;
}

.navbar {
  color: #adadad;
  border-bottom: 1px solid #cdcdcd;
}

.navbar-list-wrapper {
  padding: 1rem 0;
  display: flex;
  gap: 10px;
  font-size: 0.75rem;
}
.navbar-list-wrapper li {
  cursor: pointer;
}
.navbar-list-wrapper li.selected {
  color: #111;
}
.navbar-list-wrapper li + li {
  border-left: 1px solid #cdcdcd;
  padding-left: 10px;
}
.navbar-list-wrapper li:hover {
  opacity: 0.65;
}

#main-navbar {
  padding: 1.5rem 0;
}

/* 본문 관련 CSS 속성 설정 */
main {
  flex: 1;
  /* border: 1px solid #111; */
}

footer {
  /* padding: 2rem 0; */
}

#bottom-navbar {
  border-top: 1px solid #cdcdcd;
  color: #111;
}

#footer-info {
  color: #adadad;
  padding: 2rem 0;
  font-size: 0.75rem;
}

#footer-info p + p {
  margin-top: 0.5rem;
}

#footer-info h6 {
  color: #111;
  margin-bottom: 0.5rem;
}

#footer-info a {
  display: block;
  color: #111;
  margin-top: 0.5rem;
}

#footer-info #tel-number {
  font-size: 1.2rem;
  color: #111;
}
