html,
body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: #14bdac;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  color: #fff;
  text-align: center;
}

#scores {
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-evenly;
}

#btn-area {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  color: #111;
  font-size: 1.25rem;
}

#btn-area > div {
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
}
#btn-area > div:hover {
  opacity: 0.75;
}

table {
  border-collapse: collapse;
  margin: 1rem;
}

td {
  border: 2px solid #fff;
  width: 140px;
  height: 140px;
  text-align: center;
  font-size: 4rem;
  cursor: pointer;
}
td:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

td.user {
  color: #fff;
}

td.computer {
  color: #23524e;
}

td.computer:hover,
td.user:hover {
  cursor: auto;
  background-color: transparent;
}

#result {
  margin-top: 1rem;
  height: 1.5rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}
