/******************************
------------ MAIN ------------
*******************************/
body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: fixed;
}
textarea{
  resize: none;
}
.prevent-iPhone-overscroll {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/******************************
--- Loading Page Css Option ---
*******************************/
.loading-page {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #455a64;
}
.loading-page.hidden {
  animation: fadeOut 5s forwards;
}
@keyframes fadeOut {
  100% {
    background-color: #ef5350;
  }
}
.loading-page.screenout {
  background-color: #ef5350;
  animation: screenOut 5s forwards;
}
@keyframes screenOut {
  100% {
    opacity: 0;
  }
}
.fade-in-effect {
  opacity: 0;
  visibility: hidden;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/***** Preloader Animation *****/
#nav-preloader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  box-shadow: none;
}
#nav-preloader.hidden {
  animation: brandlogonize-position 3.5s forwards;
}
@keyframes brandlogonize-position {
  100% {
    top: 0;
    transform: translateY(0);
  }
}
.page-preloader-wrapper {
  position: relative;
}
.page-preloader-wrapper .fire {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
}
.page-preloader-wrapper .fire.hidden {
  animation: brandlogonize-size 3.5s forwards;
}
@keyframes brandlogonize-size {
  100% {
    left: 0;
    transform: translate(0, -25%);
    height: 30px;
    width: 30px;
  }
}
.page-preloader-wrapper .fire .flames .flame {
  border-radius: 15px;
}
.page-preloader-wrapper .fire .flames .flame.hidden {
  animation: border-radius-optimize 3.5s forwards;
}
@keyframes border-radius-optimize {
  100% {
    border-radius: 3px;
  }
}
/***** Progressbar Animation *****/
.progress-container {
  width: 300px;
  position: absolute;
  top: 75%;
}
.progress-container.hidden {
  animation: progressOut 2.5s forwards;
}
@keyframes progressOut {
  100% {
    opacity: 0;
  }
}
.progressive {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress-bar {
  height: 18px;
  border-radius: 30px;
  background-color: rgb(245, 127, 31);
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  animation: progressAnimation 6s;
}
@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: rgb(240, 176, 123);
  }
  100% {
    width: 100%;
    background-color: rgb(245, 127, 31);
  }
}
#loading-text {
  margin-top: 2rem;
  opacity: .75;
  animation: pulse 1.5s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: .25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: .25;
  }
}
/***** Square Animation *****/
.preloader-bigSquare {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transform-origin: bottom left;
  animation: schrink 1s linear infinite;
}
.square {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #0AE;
}
.square.first {
  left: 0px;
  top: 25px;
}
.square.second {
  left: 25px;
  top: 25px;
  animation: drop2 1s linear infinite;
}
.square.third {
  left: 0px;
  top: 0px;
  animation: drop3 1s linear infinite;
}
.square.fourth {
  left: 25px;
  top: 0px;
  animation: drop4 1s linear infinite;
}

@keyframes schrink {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes drop2 {
  0% {
    transform: translateY(-50px);
  }
  25% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes drop3 {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes drop4 {
  0% {
    transform: translateY(-50px);
  }
  75% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}


/*******************************
------ OnePage Css Option ------
*******************************/
.onePage-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden; /* Test Option in Mobile */
  -webkit-overflow-scrolling: touch; /* option for iPhone */
  transition: transform 1s ease-in-out;
  position: absolute;
}
.background-red {
  background-color: #ef5350;
  background-image:
    linear-gradient(#ca2b2b9c 1px, transparent 1px),
    linear-gradient(90deg, #ca2b2b9c 1px, transparent 1px);
  background-size: 180px 400px;
  background-position: -1px -1px;
}
.background-orange{
  /*
  background: linear-gradient(90deg, #eeceff 199px, transparent 1%) center, linear-gradient(rgba(255,255,255,0.2) 150px, transparent 1%) center, #9393f9;
  background-size: 200px 150px;
  */
  background-color: #f57c00;
  background-image:
    linear-gradient(#d36900b6 1px, transparent 1px),
    linear-gradient(90deg, #d36900b6 1px, transparent 1px);
  background-size: 180px 400px;
  background-position: -1px -1px;
}
.background-test{
  background-image: url("/assets/img/wooden.jpg");
  background-color: white;
}
.background-yellow{
  /*
  background: linear-gradient(90deg, #f9c3a9 199px, transparent 1%) center, linear-gradient(rgba(255,255,255,0.2) 150px, transparent 1%) center, #9393f9;
  background-size: 200px 150px;
  */
  background-color: #fbc02d;
  background-image:
    linear-gradient(#e0a307c7 1px, transparent 1px),
    linear-gradient(90deg, #e0a307c7 1px, transparent 1px);
  background-size: 180px 400px;
  background-position: -1px -1px;
}
.background-green{
  /*
  background: linear-gradient(90deg, #fff9bc 199px, transparent 1%) center, linear-gradient(rgba(255,255,255,0.2) 150px, transparent 1%) center, #9393f9;
  background-size: 200px 150px;
  */
  background-color: #43a047;
  background-image:
    linear-gradient(#2e8532d7 1px, transparent 1px),
    linear-gradient(90deg, #2e8532d7 1px, transparent 1px);
  background-size: 180px 400px;
  background-position: -1px -1px;
}
.background-blue{
  background-color: #0277bd;
  background-image:
    linear-gradient(#025483cc 1px, transparent 1px),
    linear-gradient(90deg, #025483cc 1px, transparent 1px);
  background-size: 180px 400px;
  background-position: -1px -1px;
}
.background-indigo{
  background-color: #172066;
  background-image:
    linear-gradient(#131a50cc 1px, transparent 1px),
    linear-gradient(90deg, #131a50cc 1px, transparent 1px);
  background-size: 180px 400px;
  background-position: -1px -1px;
}
.background-purple{
  background-color: #5c096d;
  background-image:
    linear-gradient(#3b0c44d2 1px, transparent 1px),
    linear-gradient(90deg, #3b0c44d2 1px, transparent 1px);
  background-size: 180px 400px;
  background-position: -1px -1px;
}

/*******************************
------ Navbar Css Option ------
*******************************/
#navbar {
  background-color: rgba(255, 255, 255, 0.03);
}


/******************************
------- Fire Css Option -------
*******************************/
.fire {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  height: 30px;
  width: 30px;
}
.fire .flames {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translateX(-50%) rotate(45deg);
}
.fire .flames .flame {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 0%;
  height: 0%;
  background-color: #FFDC01;
  border-radius: 3px;
}
.fire .flames .flame:nth-child(2n+1) {
  animation: flameodd 1.5s ease-in infinite;
}
.fire .flames .flame:nth-child(2n) {
  animation: flameeven 1.5s ease-in infinite;
}
.fire .flames .flame:nth-child(1) {
  animation-delay: 0s;
}
.fire .flames .flame:nth-child(2) {
  animation-delay: 0.375s;
}
.fire .flames .flame:nth-child(3) {
  animation-delay: 0.75s;
}
.fire .flames .flame:nth-child(4) {
  animation-delay: 1.125s;
}
.fire .logs {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15%;
}
.fire .logs:before, .fire .logs:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  height: 100%;
  width: 100%;
  border-radius: 1vw;
  background-color: #70392F;
}
.fire .logs:before {
  transform: translate(-50%, -50%) rotate(-20deg);
  background-color: #612E25;
}

@keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}
@keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}

/*******************************
--- Intro Padding CSS Option ---
*******************************/
.intro .col p {
  padding: 30px;
  text-align: left;
}
.intro .col h4 {
  margin-top: 4rem;
}
@media only screen and (max-width: 1300px) {
  .intro .col p {
    padding: 10px;
  }
}
@media only screen and (max-width:600px) {
  #intro .row {
    margin-top: 80px;
  }
  #intro .col{
    margin-bottom : 3.5rem;
  }
  #intro .col h4{
    margin-top: 2rem;
  }
}

/******************************
---- BannerText CSS Option ----
*******************************/
#bannerText {
  display: flex;
  justify-content: center;
  list-style: none;
}
#bannerText li {
  display: inline-block;
  font-weight: 700;
  font-size: 5rem;
  color: black;
  opacity: 1;
  transition: all 1.5s ease-in-out;
  max-width: 5rem;
}
#bannerText.hidden li.spaced {
  padding-left: 0;
}
#bannerText li.spaced {
  padding-left: 2rem;
}
#bannerText.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
/* bannerText in Mobile CSS Option */
@media only screen and (max-width:600px) {
  #bannerText {
    margin-top: 3rem;
  }
  #bannerText li {
    font-size: 3rem;
  }
  .modal{
    max-height: 88%;
    height: 100%;
  }
  .modal.modal-fixed-footer{
    height: 88%;
  }
}

/******************************
------ TabUI CSS Option ------
*******************************/
#tab-container {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}
#moram, #jaram {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
#moram.active, #jaram.active {
  z-index: auto;
}
#moram .container, #jaram .container {
  padding-top: 35vh;
}
#custom-tabs {
  background-color: inherit !important;
}
#custom-tabs .tab {
  border: 1px solid black !important;
  border-radius: 30px !important;
}
#custom-tabs .indicator {
  display: none !important;
}
#custom-tabs .tab a {
  border-radius: 30px !important;
  color: black;
}
#custom-tabs .tab a:focus, #custom-tab .tab a:focus.active {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
#custom-tabs .tab a.active {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white;
}
/******************************
------ ModalContent CSS Option ------
*******************************/
#moram .modal-content p{
  padding: 0 0.8rem 0 0.8rem;
  line-height: 1.7rem;
  margin:0;
}
#moram .modal-content h5{
  margin-bottom: 20px;
  color: salmon;
}
#moram .divider{
  margin : 30px;
}
/***** More Buttom CSS *****/
#btnMore {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  cursor: pointer;
}

/******************************
---- Review Cards Section ----
*******************************/
#reviews #reviewSlider .card-reveal {
  background: rgba(0, 0, 0, 0.82) !important;
}

/******************************
Card Effects in TabUI Contents
*******************************/
.card.introducingCard {
  background-color: rgb(28, 43, 61);      /* [수정] 자동으로 배경색 구할 수 있는지 검토 필요 */
  overflow: hidden;
}
.card.introducingCard:after {
  content: "";
  display: block;
  background-color:inherit;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
  transition: transform 4s cubic-bezier(0.23, 1, 0.32, 1);
}
.card.introducingCard:hover:after {
  transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
}
.card.introducingCard:hover .card-text{
  opacity: 1;
  transform: translateY(0);
}
.card-text{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  text-align : center;
  z-index: 1;
  color: white;
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 300ms;
  transform: translateY(-20%);
}
.card-text .card-text-wrapper{
  width: 100%;
  position: absolute;
  top:50%;
  transform: translate(-24px, -50%);
}

/******************************
------ Slider Css Option ------
*******************************/
.slider-outline {
  position: relative;
  overflow: hidden;
}
.slider-container {
  position: relative;
}
.slider-box {
  display: flex;
}
.slider-box .col {
  flex: none;
}
/***** Slider Button *****/
.leftArrow {
  position: absolute;
  left: 0.75rem;
  z-index: 10;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  transition: .1s;
  height: 50px;
  background-color: rgba(0,0,0,0.1);
  color: rgba(255, 255, 255, 0.705);
}
.rightArrow {
  position: absolute;
  right: 0.75rem;
  z-index: 10;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  transition: .1s;
  height: 50px;
  background-color: rgba(0,0,0,0.1);
  color: rgba(255, 255, 255, 0.705);
}

.rightArrow:hover, .leftArrow:hover {
  color: #999;
}
.leftArrow > i{
  margin-top: 10px;
}
.rightArrow > i{
  margin-top: 10px;
}

/*****************************
----- Profile Css Option -----
*****************************/
.profile-wrapper {
  width: 100%;
  min-width: 17rem;
  min-height: 25rem;
  position: relative;
}
.profile{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 15rem;
  min-height: 90%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}
.profile .profile-image{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: 0.5s
}
.profile .profile-image img {
  width: 100%;
  height: 100%;
}

.profile:hover img{
  opacity: 0.4;
  transition: 0.5s;
}
.profile:hover .profile-image{
  transform: translateY(-75px);
  transition: all 0.9s;
}
/***** Social Icons *****/
.social-icons {
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display : flex;
}
.social-icons li{
  list-style: none;
}
.social-icons li a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin: 0 6px;
  transition: 0.4s;
  transform: translateY(200px);
  opacity: 0;
}
/***** hover Effects *****/
.profile:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}
.social-icons li a:hover{
  background: #000;
  transition: 0.2s;
}
.social-icons li a:hover .fab{
  color: #fff;
}
.social-icons li a .fab{
  transition: 0.8s;
}
.social-icons li a .fab:hover{
  transform: rotateY(360deg);
  color: #fff;
}
.social-icons li a:hover .fas{
  color: #fff;
}
.social-icons li a .fas{
  transition: 0.8s;
}
.social-icons li a .fas:hover{
  transform: rotateY(360deg);
  color: #fff;
}
.profile:hover li:nth-child(1) a{
  transition-delay: 0.1s;
}
.profile:hover li:nth-child(2) a{
  transition-delay: 0.2s;
}
.profile:hover li:nth-child(3) a{
  transition-delay: 0.3s;
}
.profile:hover li:nth-child(4) a{
  transition-delay: 0.4s;
}
/***** Personal Details *****/
.details{
  position : absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 80px;
  z-index: 1;
  padding: 10px;
}
.details .profile-name {
  margin : 0;
  font-size: 1.95rem;
  text-align: center;
}
.details .job-title {
  margin: 0;
  font-size: 1rem;
  color: #333;
  font-weight: 300;
  display: block;
}

/******************************
-- Mobile Special CSS Option --
*******************************/
@media only screen and (max-width:360px) {
  .mobile {
    font-size: 2rem;
    font-weight: 1000;
  }
}
@media only screen and (max-width:992px) {
  nav .sidenav-trigger {
    margin-right: 0;
    padding-right: 0;
  }
}
/******************************
-- Input Modal CSS Form --
*******************************/
textarea .trigger:hover{
  box-shadow: 0 0.875rem 1.75rem rgba(0,0,0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
}
#counting{
  color: black;
  float: right;
}
.emailBtn{
  position: absolute;
  right: 0.75rem;
  color: black;
  background: white;

}

#modalMessage{
  width: 100%;
  height: 16rem;
  padding: 2%;
  line-height: 1.4rem;
}

#modalMessage:focus{
  outline:none;
}

/*
input{
  visibility: hidden;
}
.intro-card{
  background: #000;
  border-radius: 1.25rem;
  color : #fff;
  filter: drop-shadow(5px 5px 5px #000);
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: bolder;
  height: 28rem;
  padding: 2.5rem;
  position: relative;
  transition: transform 0.25s ease-out;
  width: 20rem;
  margin: 0 0;
}
.intro-card:nth-of-type(1){
  transform: translate(-40%, 0) rotate(-15deg);
}
.intro-card__footer{
  align-items: center;
  bottom: 30px;
  display: flex;
  font-size: 0.75rem;
  left: 2.5rem;
  position: absolute;
  right: 2.5rem;
}
.intro-card__footer img{
  height: 2rem;
  margin-right: 6px;
  width: 2rem;
}
.intro-card--answer{
  color: #000;
  background: pink;
}
#spaces:checked ~ .intro-card--spaces{
  transform: translate(40%,0) rotate(15deg) translate(0, 10%);
  z-index: 2;
}
#spaces:checked ~ .intro-card--tabs{
  transform: translate(40%, 0) rotate(15deg) translate(0, -10%);
  z-index: 1;
}
#spaces:checked ~ label[for='tabs']{
  z-index: 3;
}
#tabs:checked ~ .intro-card--tabs{
  transform: translate(40%,0) rotate(15deg) translate(0, 10%);
  z-index: 2;
}
#tabs:checked ~ .intro-card-spaces{
  transform: translate(40%, 0) rotate(15deg) translate(0, -10%);
  z-index: 1;
}
#tabs:checked ~ label[for='spaces']{
  z-index: 3;
}
label {
  cursor: pointer;
  height: 33.6rem;
  positon: absolute;
  transform : translate(40%, 0) rotate(15deg);
  width : 20rem;
}
.review-card{
  width: 100%;
  height : 200px;
  background-color : #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius : 6px;
  overflow: hidden;
  position: relative;
}
.review-card h3{
  text-align: center;
}
.review-card .user-card{
  width: 33.3333%;
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  background: linear-gradient(#dE685E, #EE786E);
  z-index: 2;
}
.review-card .user-card img{
  margin-top: 30px;
}
.review-card .user-card .user-title{
  top: 85%;
  color: #fff;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}
.review-center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.review-card .general{
  width: 66.6666%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding : 1rem;
  padding-top: 0;
}
.slider .row {
  display: flex;
}
.threeD {
  color: black;
  white-space: nowrap;
  position: absolute;
  top: 400px;
  left: 650px;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}
.threeD:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}
.underlined {
  color: black;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.underlined:hover {
  background-size: 100% 100%;
}
.underlined--thin {
  background-image: linear-gradient(to right, black 0, black 100%);
}
.underlined--thick {
  background-position: 0 -0.1em;
}
.underlined--offset {
  background-position: 0 0.2em;
  box-shadow: inset 0 -0.5em 0 0 white;
}
.underlined--gradient {
  background-position: 0 -0.1em;
  background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}
.underlined--reverse {
  background-position: 100% -0.1em;
  transition: background 1s;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
}
*/
