@import '@/scss/theme';

.user-categories {
  padding: 3rem;

  &:hover {
    .add-button {
      opacity: 1;
      transition: opacity 200ms ease, transform 200ms ease;
    }
  }

  .add-button {
    opacity: 0;
    transition: opacity 200ms ease, transform 200ms ease;
    cursor: pointer;
    svg {
      stroke: $primary3;
    }
  }

  .user-category-title {
    display: flex;
    justify-content: space-between;
  }

  .user-category-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
  }
}

.content-box {
  @include content-box;
  width: auto;
}

.content-box-title {
  @include bold-large;
  font-size: 2rem;
  color: $title-active;
  margin-bottom: 3rem;
}

@media screen and (max-width: 880px) {
  .user-category-icons {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .user-category-icons {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .user-category-icons {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 1.5rem;

    .category-icon {
      width: 100% !important;
      max-width: unset !important;
      box-sizing: border-box;
    }
  }
}
