@import '@/scss/theme';

.user {
  display: grid;
  width: 100%;
  grid-template-columns: 23rem auto;
  column-gap: 4rem;

  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem;
    height: fit-content;

    .github-user {
      @include bold-large;
      color: black;
    }

    .logout-btn {
      @include bold-small;
      cursor: pointer;
      padding: 0.5rem 1.2rem;
      background-color: $primary1;
      border: 0;
      border-radius: 1rem;
      color: white;
    }
  }

  .user-boxes {
    display: grid;
    row-gap: 4rem;
  }
}
